:root {
  --primary: #3F72AF;
  --secondary: #DBE2EF;
  --dark: #131a26;
  --light: #eee;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;
}

body{
  background-color: var(--dark);
}

.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bmi-tracker{
  background-color: var(--light);
  width: 400px;
  min-width: 300px;
  height: 300px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border-radius: 5px;
  text-align: center;
}

.input-container {
  align-items: center;
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.input-container input{
  height: 30px;
  border-radius: 3px;
  margin: 5px;
  border: none;
  outline: none;
}

.button-container{
  padding: 16px;
}

button {
  margin: 5px;
  border: none;
  height: 30px;
  width: 60px;
  background-color: var(--primary);
  color: #eee;
  border-radius: 3px;
  cursor: pointer;
}

